<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Mi primera página web</title>
    <style>
      p {
        color: rgb(12, 12, 12);
      }
    </style>
    <link rel="stylesheet" href="miestilo.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <img
          src="pretyStile.png"
          alt="Descripción de la imagen"
          title="Título de la imagen"
        />
      </div>
      <div class="encabezado">
        <h1>Bienvenido a Pretty Style</h1>
        <nav>
          <ul>
            <li><a href="https://www.google.com.ar">Inicio</a></li>
            <li><a href="#">Nosotros</a></li>
            <li>
              <a href="https://github.com/VeroSGV/ProT1_36675735">Contacto</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section>
        <div class="imagen">
          <img
            src="local-pequeno-de-cosmeticos.jpg"
            alt="Descripcion de la imagen"
          />
        </div>

        <h2>Nosotros</h2>
        <div>
          <p>
            Contamos con mas de 25 años de experiencia en el rubro salud y
            belleza. Tenemos la mas amplia variedad de productos e insumos para
            profesionales con el mas atento asesoramiento.
          </p>
          <p>Sentite Bella</p>
        </div>
      </section>
    </main>
    <footer>
      <p>
        Derechos de autor &copy; 2025 Mi página web. Todos los derechos
        reservados
      </p>
    </footer>
  </body>
</html>


 